.container
  %div{class: "row", style: "padding-left: 10px"}
    %h2
      #{@board.name}
  .row
    .col-md-3
      %div(class="analysis-blocks med-analysis-blocks-container-stats ")
        .stat-title
          %h4 Average members per card
        .stat-value{id: 'avg_members_per_card'}
          %img{src: '/img/spinner.GIF', class: 'stats-spinner'}
         
    .col-md-3
      %div(class="analysis-blocks med-analysis-blocks-container-stats")
        .stat-title
          %h4 Average cards per member
        .stat-value{id: 'avg_cards_per_member'}
          %img{src: '/img/spinner.GIF', class: 'stats-spinner'}
          
    .col-md-3
      %div(class="analysis-blocks med-analysis-blocks-container-stats")
        .stat-title
          %h4 List with the most cards
        .stat-subtitle{id: 'list_with_most_cards_name'}
        .stat-value{id: 'list_with_most_cards_count'}
          %img{src: '/img/spinner.GIF', class: 'stats-spinner'}
         
    .col-md-3
      %div(class="analysis-blocks med-analysis-blocks-container-stats")
        .stat-title
          %h4 List with the least cards
        .stat-subtitle{id: 'list_with_least_cards_name'}
        .stat-value{id: 'list_with_least_cards_count'}
          %img{src: '/img/spinner.GIF', class: 'stats-spinner'}
  .row
    .col-md-4
      %div(class="analysis-blocks med-analysis-blocks-container")
        %img{src: '/img/spinner.GIF', id: 'wip-spinner'}
        %div(id="WIP-Container" class="med-chart" style="margin: 0 auto")
    .col-md-8
      %div(class="analysis-blocks lg-analysis-blocks-container")
        %img{src: '/img/spinner.GIF', id: 'cfd-spinner'}
        %div(id="CFD-Container" class="lg-chart" style="margin: 0 auto")
        
%script{src: "/js/CFDChart.js"}
%script{src: "/js/WIPChart.js"}

%script
  dataLoader.loadWipChart({boardId: '#{@board.id}' });
  dataLoader.loadStats({boardId: '#{@board.id}' });
  



