.container
  %h2
    #{@board.name}
  .row
    .span5
      %div(id="WIP-Container" style="width: 400px; height: 300px; margin: 0 auto")
    .span5
      %div(id="CFD-Container" style="width: 600px; height: 500px; margin: 0 auto")
  .row
    .span5
      %p
        #{@members_per_card}

%script{src: "/js/WIPChart.js"}
%script{src: "/js/CFDChart.js"}
%script
  var wip_data = new wipChartData();
  wip_data.lists = #{@wip_data.keys.to_json};
  wip_data.counts = [{name: "Cards in List", showInLegend: false, data: #{@wip_data.values.to_json}}];
  var wipChart = new wipChart(wip_data );
  wipChart.buildChart();
  var data = new cfdChartData();
  var cfdChart = new cfdChart({ data: data, boardName: "Ollert" });
  cfdChart.buildChart();
