%script{src: "/js/highcharts.js"}
%script{src: "/js/WIPChart.js"}
 
.container
  .content
    .page-header
      #{@board.name}
    .row
      .span10
        %div(id="WIP-Container" style="width: 400px; height: 300px; margin: 0 auto")
