#board-details
  .container
    .row
      .col-xs-6.text-left.h2.ollert-header
        #{@board_name}
      .col-xs-6.text-right.h2.ollert-header
        %a.btn.btn-link{href: '/boards', title: 'View Boards', alt: 'Return to Boards Overview'}
          ← View Boards
    .row
      .col-md-3.col-sm-6.col-xs-12.no-padding
        .analysis-block-sm
          .stat-title
            %h4 Average members per card
          #avg-members-per-card.stat-value
            %img.stats-spinner{src: '/img/spinner.gif'}

      .col-md-3.col-sm-6.col-xs-12.no-padding
        .analysis-block-sm
          .stat-title
            %h4 Average cards per member
          #avg-cards-per-member.stat-value
            %img.stats-spinner{src: '/img/spinner.gif'}

      .col-md-3.col-sm-6.col-xs-12.no-padding
        .analysis-block-sm
          .stat-title
            %h4 List with the most cards
          #list-with-most-cards-count.stat-value
            %img.stats-spinner{src: '/img/spinner.gif'}
          #list-with-most-cards-name.stat-subtitle

      .col-md-3.col-sm-6.col-xs-12.no-padding
        .analysis-block-sm
          .stat-title
            %h4 List with the least cards
          #list-with-least-cards-count.stat-value
            %img.stats-spinner{src: '/img/spinner.gif'}
          #list-with-least-cards-name.stat-subtitle

    .row
      .col-xs-12.no-padding
        .analysis-block-lg
          %img#cfd-spinner{src: '/img/spinner.gif'}
          #cfd-container.lg-chart{style: 'margin: 0 auto; height: inherit'}

    .row
      .col-md-6.col-xs-12.no-padding
        .analysis-block-md
          %img#wip-spinner{src: '/img/spinner.gif'}
          #wip-container.med-chart{style: 'height: inherit'}
      .col-md-6.col-xs-12.no-padding
        .analysis-block-md
          %img#label-count-spinner{src: '/img/spinner.gif'}
          #label-count-container.med-chart{style: 'height: inherit'}

    .row
      .col-md-3.col-sm-6.col-xs-12.no-padding
        .analysis-block-sm
          .stat-title
            %h4 Board members
          #board-members-count.stat-value
            %img.stats-spinner{src: '/img/spinner.gif'}

      .col-md-3.col-sm-6.col-xs-12.no-padding
        .analysis-block-sm
          .stat-title
            %h4 Total cards
          #card-count.stat-value
            %img.stats-spinner{src: '/img/spinner.gif'}

      .col-md-3.col-sm-6.col-xs-12.no-padding
        .analysis-block-sm
          .stat-title
            %h4 Oldest Card (age in days)
          #oldest-card-age.stat-value
            %img.stats-spinner{src: '/img/spinner.gif'}
          #oldest-card-name.stat-subtitle

      .col-md-3.col-sm-6.col-xs-12.no-padding
        .analysis-block-sm
          .stat-title
            %h4 Newest Card (age in days)
          #newest-card-age.stat-value
            %img.stats-spinner{src: '/img/spinner.gif'}
          #newest-card-name.stat-subtitle

%script{src: '/js/highstock.js'}
%script{src: '/js/modules/no-data-to-display.src.js'}
%script{src: '/js/cfd-chart-builder.js'}
%script{src: '/js/wip-chart-builder.js'}
%script{src: '/js/label-count-chart-builder.js'}
%script{src: '/js/stats-builder.js'}
%script{src: '/js/analysis-controller.js'}
%script{src: '/js/moment.min.js'}

%script
  $(document).ready(function() { AnalysisController.init("#{@board_id}", "#{@board_name}"); });
