%body
  .container
    %h2
      #{@board.name}
    .row
      .span5
        %div(id="WIP-Container" style="width: 400px; height: 300px; margin: 0 auto")
      .span5
        %div(id="CFD-Container" style="width: 600px; height: 500px; margin: 0 auto")

%script{src: "/js/WIPChart.js"}
%script{src: "/js/CFDChart.js"}
%script
  var data = new wipChartData(); //TODO: Pass some data in here to convert
  var wipChart = new wipChart({ data: data });
  wipChart.buildChart()
