.container
  .row
    %h2.ollert-header
      .text-center.col-xs-12
        Boards

  .row
    %hr

  - @boards.each do |org_name, boards|
    .organization.clearfix
      .h4
        #{org_name}
      %ul{class: 'boards-list'}
        - boards.each do |board|
          %li.boards-list-item
            %a.btn.btn-link.boards-list-item-link{href: "/boards/#{board["id"]}"}
              #{board["name"]}
