.container
  .h3
    Select a board to view its statistics.
  - @boards.each do |org_name, boards|
    .organization
      .h4
        #{org_name}
      %ul{class: 'boards-list'}
        - boards.each do |board|
          %li{class: 'boards-list-item'}
            %a{class: "btn btn-link boards-list-item-link", href: "/boards/#{board["id"]}"}
              #{board["name"]}
    %div{style: 'clear: both;'}
