.landing-connect
  .container
    .row
      .col-sm-offset-2.col-sm-8.col-md-offset-3.col-md-6.text-center
        %img{src: '/img/ollert-logo-white.svg', width: '100%'}
    .row
      .col-xs-12.text-center.h1
        Learn what your Trello boards aren't telling you.
    .row
      .text-center
        %a{class: "btn btn-primary btn-xl connect-btn", href: "javascript:void(0)", onClick: "#{@user.nil? ? 'TrelloController.authorizeAnonymous()' : 'TrelloController.authorizeUser()'}"}
          Connect to Get Started
.landing-info.landing-section
  .container.hidden-xs
    .row.text-center.h1
      .c0l-xs-12
        Why Ollert?

    .row.text-center.h3
      .col-md-3.col-xs-4
        Your Trello boards do a great job telling you the state of today.
      .col-md-offset-1.col-md-4.col-xs-4
        But how do you know what's happened during the past week, month, or year?
      .col-md-offset-1.col-md-3.col-xs-4
        That's where Ollert comes in.
    .row
      .col-md-3.col-xs-4
        %img.img-full{src: '/img/landing-trello.png'}
      .col-md-offset-1.col-md-4.text-center.col-xs-4
        %img.img-less{src: '/img/landing-question.png'}
      .col-md-offset-1.col-md-3.col-xs-4
        %img.img-full{src: '/img/landing-ollert.png'}
  .container.visible-xs-block
    .row.text-center.h1
      Why Ollert?
    .row.text-center.h3
      .col-xs-12
        Your Trello boards do a great job telling you the state of today.
    .row
      .col-xs-12.text-center
        %img{src: '/img/landing-trello.png'}
    .row.text-center.h3
      .col-xs-12
        But how do you know what's happened during the past week, month, or year?
    .row
      .col-xs-12.text-center
        %img{src: '/img/landing-question.png'}
    .row.text-center.h3
      .col-xs-12
        That's where Ollert comes in.
    .row
      .col-xs-12.text-center
        %img{src: '/img/landing-ollert.png'}
.landing-victory.landing-section
  .container
    .row.text-center.h1
      A new way to think about Trello boards.
    .row
      .col-xs-12.text-center.h3
        Instantly see the numbers behind the cards.
    .row
      .col-xs-12
        %img{src: '/img/landing-instantly.png', style: 'width: 100%;'}
    .row
      .col-xs-12.text-center.h3
        Use Ollert to visualize the progress of your boards.
    .row
      .col-xs-12
        %img{src: '/img/landing-visualize.png', style: 'width: 100%;'}

.landing-hook.landing-section
  .container.hidden-xs
    .row
      .col-xs-12.h1.text-center{style: 'margin-bottom: 20px;'}
        What are you waiting for? It's free.
    .row.text-center
      .col-md-offset-1.col-md-4.col-sm-6
        %a{class: "btn btn-primary btn-xl", href: "javascript:void(0)", onClick: "#{@user.nil? ? 'TrelloController.authorizeAnonymous()' : 'TrelloController.authorizeUser()'}"}
          Connect to Get Started
      .col-md-offset-2.col-md-4.col-sm-6
        %a{class: "btn btn-primary btn-xl", href: "/signup"}
          Create an Account
    .row.text-center.h4
      .col-md-offset-1.col-md-4.col-sm-6
        Connect to Trello, choose a board, and view your stats. No strings attached.
      .col-md-offset-2.col-md-4.col-sm-6
        Just supply an email and password. We'll remember your Trello information after the first time you authenticate. More benefits coming soon.
    .row
      .col-xs-12.text-center
        Want more information? Contact <a href="mailto:connect@ollertapp.com">connect@ollertapp.com</a>.  
  .container.visible-xs-block
    .row
      .col-xs-12.h1.text-center.landing-subtitle
        What are you waiting for? It's free.
    .row.text-center
      .col-xs-12
        %a{class: "btn btn-primary btn-xl", href: "javascript:void(0)", onClick: "#{@user.nil? ? 'TrelloController.authorizeAnonymous()' : 'TrelloController.authorizeUser()'}"}
          Connect to Get Started
    .row.text-center.h4
      .col-xs-12
        Connect to Trello, choose a board, and view your stats. No strings attached.
    .row.text-center{style: "margin-top: 40px;"}
      .col-xs-12
        %a{class: "btn btn-primary btn-xl", href: "/signup"}
          Create an Account
    .row.text-center.h4
      .col-xs-12
        Just supply an email and password. We'll remember your Trello information after the first time you authenticate. More benefits coming soon.
    .row
      .col-xs-12.text-center
        Want more information? Contact <a href="mailto:connect@ollertapp.com">connect@ollertapp.com</a>.

%script{src: "/js/flash-message.js"}