:javascript
  function AuthenticateTrello() {
    Trello.authorize({
      name: "Ollert",
      type: "popup",
      interactive: true,
      expiration: "never",
      success: function () { onAuthorizeSuccessful(); },
      error: function () { onFailedAuthorization(); },
      scope: { write: true, read: true },
    });
  }

  function onAuthorizeSuccessful() {
    var token = Trello.token();
    window.location.replace("/connect?token=" + token);
  }

  function onFailedAuthorization() {
  }

Hello, Trello!
/ %form{id: 'connect', action: "/connect", method: "get", role: "form"}
%button{class: "btn btn-primary", type: "submit", value:"Connect With Trello", onClick: "AuthenticateTrello()"}
