.container
  %h2{class: "text-center"}
    Ollert gives you the real scoop on your Trello boards!
  %h3{class: "text-center"}
    Graphs and Charts! Numbers and words! And more!
  .row{class: "text-center"}
    %a{class: "btn btn-primary btn-lg", href: "javascript:void(0)", onClick: "#{@user.nil? ? 'AuthenticateTrelloOneHour()' : 'AuthenticateTrelloAlways()'}"}
      Connect With Trello
