!!! html
%html{lang: 'en'}
  %head
    %title Ollert
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %meta{name: 'description', content: 'Ollert'}

    %link{href: '/css/bootstrap.min.css', rel: 'stylesheet'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/styles.css'}

    %script{src: 'http://code.jquery.com/jquery-1.11.0.min.js'}
    %script{src: '/js/bootstrap.min.js'}
    %script{src: "https://api.trello.com/1/client.js?key=#{@secret}"}

    %body
      .topbar
        .fill
          .container(style="margin-top:20px")
            %h2 Ollert
            .navbar
              %ul(class="nav navbar-nav")
                %li(class="active pull-left")
                  %a(href = "/") Home
                %li(class="pull-left")
                  %a(href = "/") More Content
                %li(class="pull-left")
                  %a(href = "/") Why Pay
              .pull-right
                %button(type="submit" class="btn btn-primary" data-container="body" data-toggle="popover" data-placement="bottom") Sign up
                %button(type="submit" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="bottom") Log in

      = yield

    %footer{id: 'footer'}
      %hr
      .container
        Copyright 2014
