.container
  %h2
    Privacy Policy
  .panel.panel-warning{style: "font-size: 10pt;"}
    .panel-heading
      Disclaimer
    .panel-body
      This policy is not final and will be updated frequently as Ollert is defined.
  %p
    We collect the following data on users at the time of writing this document:
    %ul
      %li
        Email
      %li
        Trello Member Name
      %li
        Trello Member Token
  %p
    This website is not associated with Trello in any way.
  %p
    We do not collect any money from users at this time.
  %p
    We do not sell data or usage.
  %p
    We do not currently use a secure connection when you enter your password. Create login with a unique password if you are concerned about security. SSL is planned for the future.
