.container
  .row
    .h2
      Privacy Policy
  .row
    .h5
      Last Updated: 25 Jan 2017

  .row
    %p
      Larry Pricee ("Larry") understands that security and privacy are important issues for visitors to our website and users of the web application provided thereon (collectively, the "Service"). The following Privacy Policy (the "Policy") sets forth Larry's privacy practices and the possible uses of the information that Larry gathers via the Service.

  .row
    .h3
      %u
        Collection of Information

  .row
    .h3
      Voluntarily Provided Information
  .row
    %p
      You may be asked to voluntarily provide name(s), email address (es) or other personally identifiable information to create an account and participate in the Service. By registering an account, using the Service and providing us with such information, you consent to our use of such information as described in this Policy. You may be asked to provide information about other members of your organization or others authorized by you to use the Service.

  .row
    .h3
      Cookies and Statistics
  .row
    %p
      We may collect information through the use of common information-gathering tools such as web beacons, cookies and server logging. A cookie is a small string of text that a website can send to your browser which helps the Service remember and customize visits. For example, cookies allow us to tailor the Service to better match your interests and preferences. With most Internet browsers or other software, you can erase cookies from your computer hard drive, block all cookies or receive a warning before a cookie is stored. Please refer to your browser instructions to learn more about these functions. If you reject cookies, you may not be able to participate in the Service.
  .row
    %p
      We may also use single-pixel images within the Service or in our emails to you (web beacons). This technology tells us more about browsing, click-tracking, viewing, and other activity, but none of your personally-identifiable information is transmitted through this technology.
  .row
    %p
      We may also collect other information, including but not limited to server logging that your web browser or device provides to us when you use the Service, your IP address, the type of browser you are using, a referring URL, and other information contained in HTTP headers. Please note that we do not currently respond to any “Do Not Track (DNT)” browser signals.

  .row
    .h3
      %u
        Use of Information

  .row
    .h3
      Account Administration
  .row
    %p
      Larry may use information obtained through your use of the Service to administer your account. Larry may use your information to respond to questions or requests that are submitted via the Service and/or to provide other requested customer support.

  .row
    .h3
      Aggregation and Combination of Information
  .row
    %p
      Larry may, on occasion, combine information collected through the Service with information that we collect from other sources. Larry may aggregate information provided to us with information about other users of the Service. Larry may publicly disclose or sell to third parties the aggregated information to display industry trends, usage statistics, and provide general analytics information about the Service.

  .row
    .h3
      Information Sharing
  .row
    %p
      Larry may disclose your information to third parties for the following purposes:
    %ol{type: "a"}
      %li
        Law Enforcement. Your information may be shared with law enforcement officials if it relates to a criminal investigation or alleged illegal activity.
      %li
        Necessary or for Safety Reasons.  Larry may also disclose your information if required or permitted to do so by law, for fraud protection and credit risk reduction purposes, or in the good-faith belief that such action is necessary to protect and defend the rights or property of Larry or the users of the Service, to act under urgent circumstances to protect the safety of Larry or its employees or a member of the public, or to comply with a judicial proceeding, court order, or legal process.
      %li
        Service Providers. Larry may disclose your information to our third party service providers who assist in developing, maintaining, or enhancing the Service. Each third party service provide with whom we disclose your information commits to the privacy practices detailed in this Policy.
      %li
        Sale or Acquisition of Assets.  If Larry becomes involved in a transaction involving the sale of its assets, such as a merger or acquisition, or if Larry is transferred to another company, Larry may disclose and/or transfer your information as part of the transaction. If the surviving entity in that transaction is not Larry, the surviving company may use your information pursuant to their own privacy policies, and those policies may be different from this Policy.

  .row
    .h3
      Privacy of Children
  .row
    %p
      The Service is not designed nor intended to collect personal information from children under the age of 13.  We do not knowingly collect personal information from anyone under the age of 13.  We do not use such information, and will take reasonable measures to delete it if we discover that it is has been provided. The Service is not child-directed site in whole or in part.  The Service does not target children under the age of 13 as a primary or secondary audience.

  .row
    .h3
      External Links
  .row
    %p
      The Service may contain links to other sites on the Internet that are owned and operated by third parties. Larry is not responsible for the collection or use of your information at any third party sites. Your use of an external website or any informational content found on an external websites is subject to and governed by the terms and guidelines of those website(s).  Larry does not endorse or make any representations or warranties concerning, and will not in any way be liable for, any informational content, products, services, software, or other materials available on an external website, even if one or more pages of the external website are framed within a page of this Site.

  .row
    .h3
      Security
  .row
    %p
      We employ commercially reasonable standards to protect personally-identifiable information and through use of the Site. We may use third party service providers to store your information, provide functionality to you through the Service, or otherwise assist in supporting the Site. We cannot ensure or warrant the security of any personally-identifiable information, and you provide such information at your own risk.

  .row
    .h3
      Modifications
  .row
    %p
      This Policy was last modified at the date first printed above. Larry may modify this Policy at any time, and, accordingly, we urge you to frequently review this page.

  .row
    .h3
      Updating Information
  .row
    %p
      If you ever wish to access your personally-identifiable information, or to have your personally-identifiable information deleted, updated, changed or modified, please contact Larry by email at legal@ollertapp.com or through the contact information below.

  .row
    .h3
      Contact
  .row
    %p
      If you have any questions or comments about this Policy, please contact us using the information below.
  %blockquote
    .row
      Larry Price
    .row
      Email: <a href="mailto:legal@ollertapp.com">legal@ollertapp.com</a>
