.container
  .row
    .col-md-offset-2.col-md-8.img-rounded{id: 'login-box'}
      .row
        .col-md-12.text-center
          %h3
            Please enter a new password.
      .row
        %form{id: "resetPassword", role: "form", method: "post", action: "/account/reset/#{@secret}", class: "form-horizontal"}
          .form-group
            %label{for: "email", class: "col-md-2 control-label"}
              Email
            .col-md-10
              %input{id: "email", name: "email", class: "form-control", disabled: true, value: @email}
          .form-group
            %label{for: "password", class: "col-md-2 control-label"}
              Password
            .col-md-10
              %input{type: "password", id: "password", name: "password", class: "form-control", autocomplete: "off", required: "required", autofocus: true}
          .form-group
            .col-md-10.col-md-offset-2
              %input{id: "resetPasswordButton", class: "btn btn-primary btn-lg", type: "submit", value: "Reset Password"}
          .form-group
            .col-md-10.col-md-offset-2
              %span{id: "resetPasswordStatus"}
