.container
  .row
    %h2
      .col-xs-4
        Settings

  .row
    %hr

  .row
    %form{id: "updateEmail", role: "form", class: "form-horizontal"}
      .form-group
        .col-sm-3.col-xs-4.col-lg-2
          %label{for: "email", class: "control-label col-sm-2"}
            Email
        .col-sm-5.col-xs-8.col-lg-5
          %input{type: "email", id: "email", name: "email", class: "form-control", value: "#{@user.email}", required: "required"}
      .form-group
        .col-sm-offset-3.col-sm-5.col-xs-offset-4.col-xs-8.col-lg-offset-2.col-lg-5
          %input{class: "btn btn-primary", type: "submit", value:"Update Email"}
          %span{id: "emailStatus"}

  .row
    %hr

  .row
    %form{id: "updatePassword", role: "form", class: "form-horizontal"}
      .form-group
        .col-sm-3.col-xs-5.col-lg-2
          %label{for: "current_password", class: "control-label"}
            Current Password
        .col-sm-5.col-xs-7.col-lg-5
          %input{type: "password", id: "current_password", name: "current_password", class: "form-control", autocomplete: "off", required: "required"}
      .form-group
        .col-sm-3.col-xs-5.col-lg-2
          %label{for: "new_password", class: "control-label"}
            New Password
        .col-sm-5.col-xs-7.col-lg-5
          %input{type: "password", id: "new_password", name: "new_password", class: "form-control", required: "required"}
      .form-group
        .col-sm-3.col-xs-5.col-lg-2
          %label{for: "confirm_password", class: "control-label"}
            Confirm New
        .col-sm-5.col-xs-7.col-lg-5
          %input{type: "password", id: "confirm_password", name: "confirm_password", class: "form-control", required: "required"}
      .form-group
        .col-sm-offset-3.col-sm-5.col-xs-offset-5.col-xs-7.col-lg-offset-2.col-lg-5
          %input{class: "btn btn-primary", type: "submit", value:"Update Password"}
          %span{id: "passwordStatus"}

  .row
    %hr

  .row
    .col-sm-offset-3.col-sm-9.col-xs-12.col-lg-offset-2.col-lg-10.no-padding
      %a{id: "trelloDisconnect", class: "btn btn-lg btn-warning", href: "javascript:void(0)"}
        Disconnect Trello user <b>#{@user.trello_name}</b>
      %a{id: "trelloConnect", class: "btn btn-primary btn-lg", href: "javascript:void(0)"}
        Connect with Trello
      %span{id: "trelloConnectStatus"}

  .row
    %hr

  .row
    .col-sm-offset-3.col-sm-9.col-xs-12.col-lg-offset-2.col-lg-10.no-padding
      %form{id: "deleteAccount"}
        .checkbox{style: "font-size: 16px;"}
          %label
            %input{type: "checkbox", name: "iamsure", id: "iamsure"}
              This box verifies that you would like to delete your account when clicking the link below.
        %input{type: "submit", id: "deleteAccountButton", class: "btn btn-defualt btn-danger", value: "Delete Account"}
        %span{id: "deleteAccountStatus"}

%script{src: "/js/loading-indicator.js"}
%script{src: "/js/settings-controller.js"}

:javascript
  $(document).ready(function() {
    SettingsController.init(#{!@user.member_token.nil?});
  });
