.container.settings
  .row
    %h2.ollert-header
      .col-xs-12
        Settings

  .row
    %hr

  %form#update-email.form-horizontal{role: 'form'}
    .form-group
      .col-sm-3.col-xs-4.col-lg-2
        %label.control-label{for: 'email'}
          Email
        %a#email-info.btn-link{href: "javascript:void(0)", data: {toggle: "popover", placement: "bottom", trigger: "focus", content: "Providing an email will allow us to get in touch with you in case of problems with your account or to ask for feedback. We will not sell or otherwise distribute your email address."}}
          %span.glyphicon.glyphicon-info-sign
      .col-sm-5.col-xs-8.col-lg-5
        %input#email.form-control{type: 'email', name: 'email', value: "#{@user.email}", required: 'required'}
    .form-group
      .col-sm-offset-3.col-sm-5.col-xs-offset-4.col-xs-8.col-lg-offset-2.col-lg-5
        %input.btn.btn-primary{type: 'submit', value:'Update Email'}
        %span#email-status

  .row
    %hr

  .row
    .col-sm-offset-3.col-sm-9.col-xs-12.col-lg-offset-2.col-lg-10
      .row#trello-connect-status
        %span
          .loading-indicator
            Currently connected to Trello as <strong>#{@user.trello_name}</strong>
      .row
        .col-xs-12
          %a#trello-connect.btn.btn-primary.btn-md{href: 'javascript:void(0)'}
            Connect to a Different Trello Account

  .row
    %hr

  .col-sm-offset-3.col-sm-9.col-xs-12.col-lg-offset-2.col-lg-10.no-padding
    %form#delete-account
      .checkbox
        %label
          %input#i-am-sure{type: 'checkbox', name: 'iamsure'}
            This box verifies that you would like to delete your account when clicking the link below.
      %input#delete-account-button.btn.btn-default.btn-danger{type: 'submit', value: 'Delete Account'}
      %span#delete-account-status

:javascript
  $(document).ready(function() {
    setTimeout(SettingsController.init, 0);
  });
