.container
  %form{action: "/signup", method: "post", style: "margin-top: 25px;"}
    %fieldset
    .row
      .col-md-6
        .form-group
          .row{style: "margin-bottom: 10px;"}
            .col-md-4
              %label{for: "email"} Email Address
            .col-md-8
              %input{type: "email", id: "email", name: "email", class: "form-control", value: @email, required: "required", autofocus: "true"}
          .row{style: "margin-bottom: 10px;"}
            .col-md-4
              %label{for: "password"} Password
            .col-md-8
              %input{type: "password", id: "password", name: "password", class: "form-control", autocomplete: "off", required: "required"}

          .checkbox{style: "font-size: 16px; margin-top: 10px;"}
            %label
              %input{type: "checkbox", name: "agreed"}
              I have read and agree to the <a href="/terms">Terms of Service</a> and <a href="/privacy">Privacy Policy</a>.
    %input{class: "btn btn-primary btn-lg", type: "submit", value:"Sign Me Up!"}
