.container
  %form{action: "/signup", method: "post", style: "margin-top: 25px;"}
    %fieldset
    .row
      .col-md-6
        .form-group
          .row{style: "margin-bottom: 10px;"}
            .col-md-4
              %label{for: "email"} Email Address
            .col-md-8
              %input{type: "email", id: "email", name: "email", class: "form-control", value: @email, required: "required"}
          .row{style: "margin-bottom: 10px;"}
            .col-md-4
              %label{for: "password"} Password
            .col-md-8
              %input{type: "password", id: "password", name: "password", class: "form-control", autocomplete: "off", required: "required"}
          .row{style: "margin-bottom: 10px;"}
            .col-md-4
              %label
                %a{class: "btn btn-link", href: "/info", title: "Why should I pay?", style: "padding-left: 0; border-left: 0", target: "_blank"}
                  Membership Type
            .col-md-8
              .btn-group{"data-toggle" => "buttons"}
                %label{class: "btn btn-default #{'active' if @membership == 'free'}"}
                  %input{type: "radio", name: "options", class: "btn btn-default", id: "option-free"}
                    Free
                %label{class: "btn btn-default #{'active' if @membership.nil? || @membership == 'monthly'}"}
                  %input{type: "radio", name: "options", class: "btn btn-default", id: "option-monthly"}
                    $3 per month
                %label{class: "btn btn-default #{'active' if @membership == 'yearly'}"}
                  %input{type: "radio", name: "options", class: "btn btn-default", id: "option-yearly"}
                    $30 per year

          .row{style: "margin-bottom: 10px;", class: "text-center"}
          .row{style: "margin-top: 10px;"}
            .checkbox{style: "font-size: 16px;"}
              %label
                %input{type: "checkbox", name: "agreed"}
                I have read and agree to the <a href="/legal">Terms of Service</a> and <a href="/privacy">Privacy Policy</a>.
    %input{class: "btn btn-primary btn-lg", type: "submit", value:"Sign Me Up!"}
