$dark: #1A1A1A;
$medium: #404040;
$medium-light: #A0A0A0;
$light: #CCCCCC;
$light-light: #F2F2F2;

.topbar {
  background: $light-light;
}

.stat-title {
  color: $medium;
  font-size: 12pt;
  text-align: center;
}

.stat-subtitle {
  color: $medium;
  font-size: 16pt;
  text-align: center;
}

.stat-value {
  color:  $medium-light;
  font-size: 60pt;
  text-align: center;
}

.stat-unit {
  color: $medium;
  font-size: 12pt;
  text-align: center;
}

footer {
  background: $light-light;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-toggle {
  margin-top: 18px;
}

.analysis-blocks {
    padding: 5px;
    margin: 5px;
    border-style: solid;
    border-width: 1px;
    -moz-border-radius-topleft: 18px;
    -webkit-border-top-left-radius: 18px;
     border-top-left-radius: 18px;
    -moz-border-radius-topright: 15px;
    -webkit-border-top-right-radius: 15px;
    border-top-right-radius: 15px;
    -moz-border-radius-bottomright: 22px;
    -webkit-border-bottom-right-radius: 22px;
    border-bottom-right-radius: 22px;
    -moz-border-radius-bottomleft: 25px;
    -webkit-border-bottom-left-radius: 25px;
    border-bottom-left-radius: 25px;
    text-align: center;
}

.med-analysis-blocks-container {
    width: 365px;
    height: 390px;
}

.lg-analysis-blocks-container {
    width: 750px;
    height: 390px;
}

.med-chart{
    width: 350px; 
    height: 380px;
}

.lg-chart{
    width:  730px;
    height: 370px;
}

.med-analysis-blocks-container-stats {
    width: 265px;
    height: 200px;
}

.lg-analysis-blocks-container-stats {
    width: 380px;
    height: 200px;
}

.col-md-3{
    padding-bottom: 10px;
}









/* Red */
$bgDefault      : #e74c3c;
$bgHighlight    : #a4251c;
$colDefault     : #ecf0f1;
$colHover       : #ffbbbc; 
/* Green * /
$bgDefault      : #2ecc71;
$bgHighlight    : #27ae60;
$colDefault     : #ecf0f1;
$colHover       : #d1ffed; /*/
/* Purple * /
$bgDefault      : #9b59b6;
$bgHighlight    : #8e44ad;
$colDefault     : #ecf0f1;
$colHover       : #ecdbff; /*/
/* Orange * /
$bgDefault      : #e67e22;
$bgHighlight    : #d35400;
$colDefault     : #ecf0f1;
$colHover       : #ffe6d1; /*/


/* --- Style --- */
.navbar-default {
    background-color: $bgDefault;
    border-color: $bgHighlight;
    .navbar-brand {
        margin-left: 15px;
        color: $colDefault;
        &:hover, &:focus {
            color: $colHover; }}
    .navbar-nav {
        > li {
            > a {
                padding-top: 25px;
                padding-bottom: 25px;
                color: $colDefault;
                &:hover, &:focus {
                    color: $colHover;   }}}
        .active {
            > a, > a:hover, > a:focus {
                color: $colHover;
                background-color: $bgHighlight; }}
        .open {
            > a, > a:hover, > a:focus {
                color: $colHover;
                background-color: $bgHighlight;
                .caret {
                    border-top-color: $colHover;
                    border-bottom-color: $colHover; }}}
        > .dropdown {
            > a {
                .caret {
                    border-top-color: $colDefault;
                    border-bottom-color: $colDefault; }
                &:hover, &:focus {
                    .caret {
                        border-top-color: $colHover;
                        border-bottom-color: $colHover; }}}}}
    .navbar-toggle {
        border-color: $bgHighlight;
        &:hover, &:focus {
            background-color: $bgHighlight; }
        .icon-bar {
            background-color: $colDefault; }}}

.navbar {
  min-height:70px;
  border-radius: 0;
}

.navbar-brand {
  background: url(../images/ollert-logo-white-sm.png) no-repeat;
  height: 34px;
  width: 101px;
  text-indent: -99999px;
  padding: 0;
  margin-top: 18px;
}

.container {
  .margin-left: auto;
  .margin-right: auto;
}
.spinner {
    background-image: url('/img/Spinner.GIF');
    width: 35px;
    height: 45px;
    text-align: center;
    
}

#login-box {
  background: $light-light;
  margin-top: 60px;
  margin-bottom: 60px;
}

#login-box form {
  margin: 30px 50px;
}

.tooltip-inner {
  min-width: 100px;
}
