$dark: #1A1A1A;
$medium: #404040;
$light: #CCCCCC;
$light-light: #F2F2F2;

.topbar {
  background: $light-light;
}

.single-stat {
  background: $dark;
  padding: 20px;
}

.single-stat-title {
  color: $medium;
}

.single-stat-value {
  color: $light-light;
  font-size: 32pt;
}

footer {
  background: $light-light;
}

.navbar {
  margin-bottom: 0px;
}
