$dark: #1A1A1A;
$medium: #404040;
$medium-light: #A0A0A0;
$light: #CCCCCC;
$light-light: #F2F2F2;

$bgDefault      : #e74c3c;
$bgHighlight    : #a4251c;
$colDefault     : #ecf0f1;
$colHover       : #ffbbbc;

@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: local('Muli'), url(../fonts/muli.woff) format('woff');
}

body {
  font-family: 'Muli', sans-serif;
}

//  begin sticky footer

html,body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -120px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  min-height: 120px;
}

// end sticky footer

.topbar {
  background: $light-light;
}

.stat-title {
  color: $medium;
  font-size: 12pt;
  text-align: center;
}

.stat-subtitle {
  color: $medium;
  font-size: 16pt;
  text-align: center;
}

.stat-value {
  color:  $medium-light;
  font-size: 60pt;
  text-align: center;
}

.stat-unit {
  color: $medium;
  font-size: 12pt;
  text-align: center;
}

#footer {
  padding: 10px 15px 0 15px;
  background: #3E434A;
  color: #ADB3BA;
  border: none;
  font-size: 1.3em;
}

#footer a {
  color: #ADB3BA;
}

#footer a:hover {
  color: #FFF;
}

hr {
  border-top: 1px solid $light;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-toggle {
  margin-top: 7.5px;
}

.navbar-default {
  background-color: $bgDefault;
  border-color: $bgDefault;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHover;
    }
  }
  .navbar-nav {
    > li {
      > a {
        padding-top: 15px;
        padding-bottom: 15px;
        color: $colDefault;
        &:hover, &:focus {
            color: $colHover;
        }
      }
    }
    .active {
      > a, > a:hover, > a:focus {
        color: $colHover;
        background-color: $bgHighlight;
      }
    }
    .open {
      > a, > a:hover, > a:focus {
        color: $colHover;
        background-color: $bgHighlight;
        .caret {
          border-top-color: $colHover;
          border-bottom-color: $colHover;
        }
      }
    }
    > .dropdown {
      > a {
        .caret {
          border-top-color: $colDefault;
          border-bottom-color: $colDefault;
        }
        &:hover, &:focus {
          .caret {
            border-top-color: $colHover;
            border-bottom-color: $colHover;
          }
        }
      }
    }
  }
  .navbar-toggle {
      border-color: $bgHighlight;
      &:hover, &:focus {
        background-color: $bgHighlight;
      }
      .icon-bar {
        background-color: $colDefault;
      }
    }
}

.navbar-nav {
  color: $colDefault;
}

.navbar-brand {
  background: url(/img/ollert-logo-white.svg) no-repeat;
  height: 35px;
  width: 101px;
  text-indent: -99999px;
  padding: 0;
  margin-top: 7.5px;
  margin-left: 15px;
}

.landing-connect {
  background: $bgDefault;
  padding-bottom: 80px;
  padding-top: 20px;
  color: whitesmoke;
}

.landing-section {
  padding-bottom: 70px;
  padding-top: 60px;
}

.landing-section .row {
  padding-bottom: 10px;
}

.landing-info {
  background: $light-light;
}

.landing-victory {
  background: $light;
}

.landing-hook {
  background: $light-light;
}

.container {
  .margin-left: auto;
  .margin-right: auto;
}

.spinner {
  background-image: url('/img/spinner.gif');
  width: 35px;
  height: 45px;
  text-align: center;
}

#login-box {
  border: 1px solid $light;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#login-box form {
  margin: 20px 15px 5px !important;
}

.tooltip-inner {
  min-width: 100px;
}

.btn-xl {
  font-size: 24px;
}

.btn-primary {
  color: #fff;
  background-color: #596a8d;
  border-color: #64759a;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #536488;
  border-color: #4e5f82;
}

.signup-login-group .btn {
  margin-top: 7.5px;
}

@media (min-width: 768px) {
  .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 15px;
    margin-right:25px;
  }

  .navbar-nav.navbar-right:last-child {
    margin-right: 15px;
  }
}

ul.boards-list {
  float:left;
  list-style: none outside none;
  margin-left: 0px;
}

.boards-list-item {
  float:left;
  background-color: #F9F9F9;
  border-bottom: 1px solid #BBB;
  margin: 20px;
}

.boards-list-item-link {
  float: left;
  display: block;
  font-weight: bold;
  padding: 15px;
  width: 200px;
  color: #555;
}

.boards-list-item-link:hover {
  border-bottom: 1px solid #E74C3C;
  color: #E74C3C;
  text-decoration: none;
}

.analysis-board {
  background: #d7d7d7;
}

.analysis-block-sm, .analysis-block-md, .analysis-block-lg, .date-range {
  background-color: #FFFFFF;
  padding: 5px;
  margin: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #DDD;
  border-bottom: 2px solid #BBB;
  -webkit-border-top-left-radius: 3px;
   border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  text-align: center;
  width: initial;
}

.analysis-block-sm {
  height: 200px;
}

.analysis-block-md {
  height: 390px;
}

.analysis-block-lg {
  height: 440px;
}

.dropdown-menu .divider-section{
   overflow: visible;
   white-space: nowrap;
   font-weight: bold;
   background-color: #F3F3F3;
   border-bottom-width: 1px;
   border-bottom-style: solid;
   border-bottom-color: #CBCBCB;   
   height: 2.75em !important;
   padding: 8px;
   color: #777777;
}

ul.left-align li a{
  text-align: left;
}

#deleteAccountButton {
  margin-bottom: 10px;
}

#trelloDisconnect, #trelloConnect {
  display: none;
}

.loading-indicator {
  margin-left: 15px;
}

.loading-indicator img {
  margin-right: 15px;
}

.loading-indicator.loading-error {
  color: red;
}

.loading-indicator.loading-success {
  color: green;
}

.no-padding {
  padding: 0 !important;
}

.modal-footer {
  padding: 5px;
  margin-top: 0;
}

.modal-header {
  padding-top: 10px;
  padding-bottom: 5px;
}

.modal {
  overflow-y: auto;
}

#flash {
  margin: 0;
}

a.btn {
  white-space: normal;
}

.landing-connect a.btn {
  margin-top: 20px;
}

#agreedCheckbox {
  font-size: 16px;
  margin-top: 10px;
}

.no-padding {
  padding: 0;
}

.stat-subtitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.landing-subtitle {
  margin-bottom: 20px;
}

.footer-item {
  margin-bottom: 38px;
}

.footer-links {
   margin-top: 38px;
}

.footer-lab {
   height: 60px;
   margin-top: 53px;
}

.img-full {
  width: 100%;
}

.img-less {
  width: 75%;
}