.container
  .row
    .h2
      Terms of Service
  .row
    .h5
      Last Updated: Jul 28, 2014

  .row
    .h3
      User Agreement
  .row
    %p
      By using Ollert  ("Service"), provided by Software Engineering Professionals, Inc. ("SEP"), you, are agreeing to be bound by the following terms and conditions ("Terms of Service"). SEP hereby grants you a limited, non-exclusive license to utilize the Service as set forth herein.
  .row
    %p
      SEP reserves the right to update and change the Terms of Service from time to time without notice. Any new features that augment or enhance the current Service, including the release of new tools and resources, shall be subject to the Terms of Service. Continued use of the Service after any such changes shall constitute your consent to such changes. A link to the most current Terms of Service will be available within the Service.
  .row
    %p
      SEP reserves the right to terminate this license, your account, and your access to the Service for any reason, or no reason, in SEP's sole discretion. You agree to use the Service at your own risk. 
  .row
    %p
      SEP is not affiliated with Trello, Inc. (Trello) in any way. You agree to review Trello’s Terms of Service, which can be found here: https://trello.com/legal.

  .row
    .h3
      Account Terms
  .row
    %p
      The Service is available to individuals over the age of 18. To access the Service, you must provide the following: valid email address(es) and Trello username in order to complete the sign up and integration process. 
  .row
    %p
      Each login may only be used by one person. You agree that you are responsible for maintaining the security of your account name and password. SEP cannot and will not be liable for any loss or damage from your failure to comply with this security obligation. You further agree that you are responsible for all User Content (defined below) posted and all activity that occurs under your account (even when such User Content is posted by others). 
  .row
    %p
      You agree not to participate in the following activities: (a) utilizing any robot, spider or other automatic device, or a manual process, to monitor or copy the content within the Service or for any other unauthorized purpose; (b) using any device, software or routine to interfere or attempt to interfere with the proper working of the Service; (c) modifying, adapting, decompiling, reverse engineering, disassembling or otherwise attempting to obtain the source code for the Service; (d) taking any action that imposes an unreasonable or disproportionately large load on the Service's hardware and software infrastructure;  (e) uploading any worm, virus, Trojan horse, or other malicious content to the Service; and (f) participating in verbal, physical, written or other abuse (including threats of abuse or retribution) of any member of the Service or SEP employee.
  .row
    %p
      You may not use the Service for any illegal or unauthorized purpose. You must not, in the use of the Service, violate any laws in your jurisdiction (including but not limited to copyright or trademark laws).

  .row
    .h3
      Copyright and Content Ownership
  .row
    %p
      By posting or providing content, such as, for example, posts, emails, messages, answers to forms, videos, audio, images (collectively, the "User Content") to the Service, you grant SEP and its affiliates the right to use, publish, reproduce and display such User Content on the Site. You agree that any materials posted by you shall not infringe or violate the rights of any other party or violate any laws or otherwise be obscene, objectionable, or in poor taste. You further agree that you have obtained all necessary rights and license required to allow the posting of any User Content. SEP may use anonymous and/or aggregated data provided by you to improve products and services and provide benchmarking reports to third-parties.
  .row
    %p
      SEP may, but has no obligation to, remove User Content and accounts containing User Content that SEP determines, in its sole discretion, are unlawful, offensive, threatening, libelous, defamatory, pornographic, obscene or otherwise objectionable or violates any party’s intellectual property or these Terms of Service.
  .row
    %p
      The Service is copyright ©2014 Software Engineering Professionals. All rights reserved. You may not duplicate, copy, or reuse any portion of the HTML/CSS, Javascript, or visual design elements or concepts, or create any modifications or derivative works of the Service without express written permission from SEP.

  .row
    .h3
      Cancellation and Termination
  .row
    %p
      You can cancel your account at any time by logging into your account and clicking on the Account Settings gear. You agree that any User Content or related data you provide to the Service may be deleted from the Service upon cancellation. SEP provides no guarantee of data recovery upon account cancellation.
  .row
    %p
      SEP, in its sole discretion, has the right to suspend or terminate your account and refuse any and all current or future use of the Service, or any other SEP service, for any reason, or no reason, at any time. Such termination of the Service will result in the deactivation or deletion of your Account or your access to your Account, and the forfeiture and relinquishment of all Content in your Account. SEP reserves the right to refuse service to anyone for any reason at any time.

  .row
    .h3
      Modifications to the Service and Prices
  .row
    %p
      SEP reserves the right at any time and from time to time to modify or discontinue, temporarily or permanently, the Service (or any part thereof) with or without notice. SEP shall not be liable to you or to any third party for any modification, suspension or discontinuance of the Service.

  .row
    .h3
      Disclaimer and Limitation of Liability
  .row
    %p
      THE SERVICE IS PROVIDED BY SEP "AS IS." NEITHER SEP NOR ITS PARTNERS OR AFFILIATES MAKE ANY REPRESENTATIONS OR WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, AS TO THE OPERATION OF THE SERVICE, ITS CONTENTS, OR ANY INFORMATION MADE AVAILABLE BY OR THROUGH THE SERVICE. IN ADDITION, SEP DISCLAIMS ALL WARRANTIES WITH RESPECT TO THE SERVICE, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, TITLE, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. FURTHERMORE, SEP DOES NOT WARRANT THAT USE OF THE SERVICE WILL BE UNINTERRUPTED, AVAILABLE AT ANY TIME OR FROM ANY PARTICULAR LOCATION, SECURE OR ERROR-FREE, THAT DEFECTS WILL BE CORRECTED, OR THAT THE SERVICE IS FREE OF VIRUSES OR OTHER POTENTIALLY HARMFUL COMPONENTS.
  .row
    %p
      IN NO EVENT WILL SEP BE LIABLE FOR DIRECT, INDIRECT, INCIDENTAL, PUNITIVE OR CONSEQUENTIAL DAMAGES (INCLUDING WITHOUT LIMITATION THOSE RESULTING FROM LOST PROFITS, LOST DATA OR BUSINESS INTERRUPTION) ARISING OUT OF THE USE, INABILITY TO USE, OR THE RESULTS OF USE OF THE SERVICE, WHETHER SUCH DAMAGES ARE BASED ON WARRANTY, CONTRACT, TORT OR ANY OTHER LEGAL THEORY AND WHETHER OR NOT SEP HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
  .row
    %p
      YOU HEREBY RELEASE SEP, ITS PARTNERS AND AFFILIATES FROM ANY DEMANDS, CLAIMS, LIABILITY OR DAMAGES DUE TO THE USE OR LOSS OF ANY USER CONTENT OR DATA THROUGH THE SERVICE AND FOR ANY INAPPROPRIATE OR ILLEGAL USE OF THE SERVICE BY YOU OR OTHERS.  SEP IS NOT RESPONSIBLE FOR ANY USER CONTENT.  IN THE EVENT OF ANY CLAIM AGAINST SEP RELATED TO (A) YOUR USE OF THE SERVICE, (B) YOUR BREACH OF THESE TERMS OF SERVICE, OR (C) ANY USER CONTENT OR PERSONAL DATA, YOU WILL DEFEND, INDEMNIFY AND HOLD HARMLESS SEP, ITS PARTNERS AND AFFILIATES FROM AND AGAINST ALL DAMAGES, LOSSES, AND EXPENSES OF ANY KIND (INCLUDING REASONABLE LEGAL FEES AND COSTS) RELATED TO SUCH CLAIM.

  .row
    .h3
      General Conditions
  .row
    %ol
      %li
        These Terms of Service will be governed by and construed in accordance with the laws of the State of Indiana without regard to its conflicts of law provisions. You hereby agree that any cause of action you may have with respect to the Service must be exclusively filed in the federal or state courts located in Hamilton County, Indiana or Marion County, Indiana, within one (1) year after the cause of action arises or the cause is barred.
      %li
        You acknowledge and agree that SEP uses third party vendors and hosting partners to provide the necessary hardware, software, networking, storage, and related technology required to run the Service. You understand that the technical processing and transmission of the Service, including your Content, may be transferred unencrypted and involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or devices.
      %li
        The failure of SEP to exercise or enforce any right or provision of the Terms of Service shall not constitute a waiver of such right or provision. The Terms of Service constitutes the entire agreement between you and SEP concerning your use of the Service, superseding any prior agreements between you and SEP (including, but not limited to, any prior versions of the Terms of Service).

  .row
    .h3
      Contact
  .row
    %p
      Questions about the Terms of Service should be sent to <a href="mailto:legal@ollertapp.com">legal@ollertapp.com</a>.
  %blockquote
    .row
      Software Engineering Professionals, Inc.
    .row
      Four Center Green
    .row
      Suite 400
    .row
      Carmel, IN 46032
  %blockquote
    .row
      Phone: 317.843.1640
    .row
      Fax: 317.843.1642
    .row
      Email: <a href="mailto:legal@ollertapp.com">legal@ollertapp.com</a>
