.container
  %h2
    Terms and Conditions
  .panel.panel-warning{style: "font-size: 10pt;"}
    .panel-heading
      Disclaimer
    .panel-body
      These terms and conditions are not final and will be updated frequently as Ollert is defined.
  %p
    By connecting to Trello with our site, you agree to let us display your board data to you. We will not display this data to other users.
  %p
    By creating an account, you agree to let us store your Trello member token for future use. Again, this is only for your own consumption and will not be used by other users.

  %p
    Contact <a href="mailto:lrprice@sep.com">lrprice@sep.com</a> for questions, concerns.
